<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <h2>Stocker</h2>
        <div>
            <a href="/">Home</a>
            <a href="/login">Login</a>
        </div>
    </nav>

    <div class="container form-box">
        <h2>Register</h2>

        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}

        <form method="POST">
            <input type="text" name="name" placeholder="Enter your name">
            <input type="email" name="email" placeholder="Enter your email">
            <input type="password" name="password" placeholder="Enter your password">
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>